<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/news.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/homepage.css">
	<script src="js/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="layui/layui.js"></script>

	<link rel=stylesheet href="iconfont/material-icons.css">
	<link rel="stylesheet" type="text/css" href="css/vuelist.css">
	<link rel="stylesheet" type="text/css" href="css/tagcloud.css">
	<script type="text/javascript" src="js/tagcloud.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/echarts.js"></script>
	<script src="js/macarons.js"></script>

	<style type="text/css">

	html,
	body {
		height: 100%;
	}

	* {
		box-sizing: border-box;
	}

	body {
		font-family: Raleway, sans-serif;
		line-height: 1.7;
		-webkit-perspective-origin: 0% 50%;
		perspective-origin: 0% 50%;
		-webkit-perspective: 800px;
		perspective: 800px;
		background: #21212D;
	}

	* {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
	}
	.row {
		box-shadow: 0 0 50px 0 rgba(0, 0, 0, .25);
	}

	.row:after {
		content: "";
		clear: both;
		display: block;
		height: auto;
	}

	.sidemovein{
		-webkit-transform: translateX(1200px) rotateY(-45deg);
		transform: translateX(1200px) rotateY(-45deg);
	}
	.sidemoveout{
		-webkit-transform: rotateY(0deg);
		transform:  rotateY(0deg);
	}
</style>

</head>

<body>
	<nav class="menu-activea">
		<h1>Menu</h1>
		<ul>
			<li>
				<b>资讯</b>
			</li>
			<li>
				<b>笔记</b>
			</li>
			<li>
				<b>MarkDown</b>
			</li>
			<li>
				<b>设置</b>
			</li>
		</ul>
	</nav>
	<main>
		<section id="newspage">
			<div class="row">

				<div class="col-md-3 vuelist" id="newslist">
					<h1>资讯列表
					</h1>
					<template v-if="todo.length">
						<ul>
							<li stagger="5000" v-bind:class="item.done ? 'done' : ''" v-for="item in todoByStatus">
								<span class="label">
									{{item.label}}
								</span>
								<div class="actions">
									<button class="btn-picto" type="button" v-on:click="changeReadNow(item)">
										<img src="images/eye.png">
									</button>
									<button class="btn-picto" type="button" v-bind:aria-label="item.done ? 'Undone' : 'Done'" v-bind:title="item.done ? 'Undone' : 'Done'" v-on:click="markAsDoneOrUndone(item)">
										<i aria-hidden="true" class="material-icons">
											{{ item.done ? 'check_box' : 'check_box_outline_blank' }}
										</i>
									</button>
									<button aria-label="Delete" class="btn-picto" title="Delete" type="button" v-on:click="deleteItemFromList(item)">
										<i aria-hidden="true" class="material-icons">
											delete
										</i>
									</button>
								</div>
							</li>
						</ul>
						<togglebutton label="移动已看文章" name="movedone" v-on:clicked="movedonetoogle">
						</togglebutton>
					</template>
					<p class="emptylist" v-else="">
						你的待看文章列表是空的。
					</p>
				</div>

				<script src="js/newslist.js"></script>

				
				<div class="newsborder col-md-8 ">
					<div id="news_headimg" style="height: 400px;width:100%;background-image:url('images/news_banner.png');background-repeat:no-repeat;background-attachment:fixed;background-position:center;background-position: 40% 40%; background-size:100%;"></div>
					<div id="news_content">
						<div class="news_txt" data-size="standard">
							<p>
								<div>中国民企自主研制通用飞机GA20今日在江西南昌下线，并完成首次滑跑演示。</div>5月21日，由民营企业江西冠一通用飞机有限公司（冠一通飞）自主研制的单发四座固定翼通用飞机GA20的首架机在江西南昌高新区顺利下线、并完成滑跑演示。</p>
								<p>GA20从设计研发到下线历时三年时间，冠一通飞董事长朱颂华在下线仪式上表示，“我是‘老来得子’，从一个想法到一整架飞机完整定义，到一项项技术方案的落实，到一张张图纸，到一个个零件，再到飞机成功下线，比养孩子难多了。”</p>
								<p>“三年多时间，我们从型号研发开始，需要攻克数不胜数的难关，譬如如何实现飞机气动阻力最小，如何平衡各个专业之间的矛盾，如何满足从1米50到1米90身高飞行员的最佳飞行体验，每一个零件如何设计重量最轻且可制造性和经济性最高等，这些难题的解决，让我们走完了研制飞机‘知其然更知其所以然’的过程。”朱颂华表示。</p>
								<p>据冠一通飞GA20总设计师Jean-Paul VAUNOIS介绍，GA20为单发四座固定翼螺旋桨通用飞机，搭载LycomingO320发动机、Garmin航电系统和全碳纤螺旋桨，采用金属为主与碳纤复材为辅的结构设计，最大续航里程可达1200公里、最大速度可达360公里/小时，爬升率达3.4米/秒，在2600米高度75%功率的情况下燃油消耗量32升/小时。</p>
								<p>同时，GA20还采用“定制化”操作，以多种动力、多种设备选型、多款内饰设计，满足不同用户需求，可用于飞行培训、航空旅游、飞行体验、私人飞行等领域。</p>
								<p>
									<div style="text-align: center;">
										<img src="http://image.thepaper.cn/www/image/7/831/66.jpg" width="600" height="450" style="margin:0.7em 0" />
									</div>
									<span style="color: margin 0 0 0.7em">GA20飞机进行滑跑演示&#160;中国民航网微信公号 图</span>
								</p>
								<p>
									<strong>下线滑跑：试飞员检查飞机状态，各功能实现是否正常</strong>
								</p>
								<p>朱颂华在接受澎湃新闻采访时表示，下线是飞机研制过程中的一个里程碑事件，这意味着飞机从一个想法变成了现实。</p>
								<p>下线滑跑的前提有两点，一是飞机的结构、设备、系统都必须完整。二是飞机的所有功能可实现，包括操纵、动力、螺旋桨、航电设备都可正常运转。</p>
								<p>此次操作GA20下线滑跑的试飞员是冠一通飞自有员工，曾经是法国知名通航飞机企业索卡塔（Socata）的首席试飞员，飞过将近200款不同的通航飞机。</p>
								<p>在下线滑跑过程中，试飞员首先需要检查飞机的整个状态是否正常，其次检查飞机的各个功能是否能正常实现，包括在地面的转向和飞机整个动力系统的启动等。据朱颂华介绍，在此次下线滑跑前，GA20动力系统已通过地面试验，完整地模拟了飞机上的状态。试飞员在每次滑跑过程中，对于飞机的各种状态都要做多次记录，看其是否处于稳定状态，其中包括动力系统运转是否正常、油箱的密封情况、操纵转向是否符合要求和刹车情况等。</p>
								<p>澎湃新闻记者在现场看到，试飞员在驾驶飞机进入滑跑区后，完成了转向、刹车等一系列动作，顺利达到终点。开舱门后，试飞员向现场人员挥手致意，并表示飞机各项性能一切正常。</p>
								<p>
									<div style="text-align:center;">
										<img src="http://image.thepaper.cn/www/image/7/831/144.jpg" width="600" height="423" style="margin:0.7em 0" />
									</div>
									<strong>今年下半年首飞，后续将再投入4架机完成试验</strong>
								</p>
								<p>朱颂华告诉澎湃新闻记者，GA20下阶段的里程碑事件便是首飞，预计在今年下半年在南昌瑶湖机场进行。</p>
								<p>首飞后，除第一架机外，还在一年内投入四架机进行全机静力试验、疲劳试验、坠撞试验等，以及各个飞行科目的试验，一方面验证飞机的设计指标，另一方面验证飞机与适航规章的符合性。</p>
								<p>
									<strong>适航审定工作已全面启动：2019年完成取证并交付</strong>
								</p>
								<p>据了解，截至目前，GA20的型号合格证（TC）申请已被中国民航局正式受理，通过后将成为十年以来国内首个23部飞机民企型号，目前，适航审定工作已全面启动，预计将在2019年取证并交付。之后按规划，GA20还将先后取得美（FAA）、欧（EASA）两大适航证。</p>
								<p>此外，冠一通飞已同步与法国、美国各通航城市接洽，计划建设GA20国外总装线，以支持飞机在欧美地区的销售和服务 。</p>
								<p>对于GA20的订单情况，朱颂华表示，目前GA20还没有进入意向订单的敲定环节。“前期一直在把飞机设计所有指标、技术参数跟客户进行交流，现在还没有谈意向，更多还是在成熟产品，让产品跟客户需求紧密对应起来。现在也是在做一些市场开拓前的准备工作。
									”
								</p>
								<p>值得注意的是，今年冠一通飞将启动GA20飞机的全球销售，下一步，将启动GA20系列化发展及新机型研发。据了解，目前系列化研发工作已经启动，最终将形成十余种系列化产品；还将以“三年一个新机型”为发展目标，继续研发新机型。</p>
								<p>对于新机型，朱颂华表示，将针对快递需求研发无人机。“我们跟一些客户在前期接洽，主要是去了解市场的一些需求，目前飞机还处于前期的定义阶段，方案还没有冻结定型。” </p>
								<p>
									<div style="text-align:center;">
										<img src="http://image.thepaper.cn/www/image/7/831/145.jpg" width="600" height="450" style="margin:0.7em 0" />
									</div>
									<strong>何为自主知识产权飞机？飞机顶层的技术参数自主定</strong>
								</p>
								<p>朱颂华此前在接受澎湃新闻记者专访时曾解释“具有完整自主知识产权”的含义，即飞机顶层的技术参数自主定，“我们通过一年的市场调研，通过我们自己的团队用我们自己的方法实现定义的技术参数，从设计、飞机制造、供应商选择、最终试验、试飞到交付用户、服务、维护维修，都将是我们的知识产权，这就是一个完整的自主产权。”</p>
								<p>对于为何选择自主知识产权飞机，他表示，“市场和资金换不来核心技术，没有自身核心技术的积累，最终结果一定是把市场换来了，核心技术和品牌依旧还在别人手里。要想振兴中华民族通航产业，自主知识产权是必由之路。”</p>
								<p>值得注意的是，目前在GA20适航审定的全面启动环节，GA20团队中不乏国内外航空泰斗级人物。</p>
								<p>朱颂华告诉澎湃新闻记者，其中，GA20总设计师Jean-Paul VAUNOIS就曾是空客军民两用运输机A400M的总师，还曾在法国民航局担任过适航总监，其一辈子做过19个飞机型号，第一架设计的飞机是超音速协和飞机，目前是退休后被冠一通飞返聘。</p>
								<p>此外，国内空气动力学泰斗级人物、参与中国8个型号包括C919在内的飞机总体设计和气动设计的张锡金，和前运12总师宋洪兴担任GA20研发团队的顾问一职，为团队做指导工作。</p>
								<p>对于中外专家的结合，朱颂华表示，国外再有经验再成功，还是有可能跟国内水土不服，所以要国外跟国内一定程度地融合起来。</p>
								<p>据悉，未来五年，冠一通飞将在南昌航空城建成集研发中心、制造基地、试验试飞中心、客服中心和飞行培训中心五大功能为一体的通用飞机产业基地，至2022年，目标成为年产200架飞机的整机龙头企业。</p>
								<p>冠一公司2009年成立于上海，先后为ARJ21、C919、MA60/600、MA700、AG600、Z15等国产各重要民机型号提供产品或技术服务。冠一通飞于2014年启动GA20型号设计，随后将该型号落户江西南昌，并于2017年4月正式设立江西冠一通用飞机有限公司，作为GA20机型研制生产的企业主体。</div>
									<div class="go_to_topic"> </div>
								</div>
							</div>
							<div id="fontcontrols" >
								<a href="#" id="small">A</a>
								<a href="#" id="medium" class="selected">A</a>
								<a href="#" id="large">A</a>
							</div>
						</div>
					</section>

					<script>
						function inputimage() {
							$('<img id="imgNoteShare" class="img_share" title="选中内容分享到笔记" src="images/huaci.png" />').appendTo(
								'body');
							$('<img id="imgNewsSearch" class="img_search" title="选中内容搜索" src="images/sousuo.png" />').appendTo(
								'body');
						}
					</script>
					<script src="js/news.js"></script>
					<script src="js/changeFront.js"></script>
				</main>
				<a id="sidebutton" style="position: fixed;top:0;right: 5%;width: 2em;height: 2em;background-color: #353441; border: hidden;z-index: 1000;cursor: pointer;">
					<i aria-hidden="true" class="material-icons">arrow_forward</i>
				</a>


				<div id="siderbar" class="container sidemovein" style="background: #353441;transition: -webkit-transform 300ms ease-out;transition: transform 300ms ease-out;transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;position: fixed;right:0;width: 600px;height: 100%;overflow: scroll; ">
					<div class="row">
						<div class="col-md-12"  >
							
							<div class="wrapper" id="wrapper">
								<div class="tagcloud" id="tagcloud">
									<a>tag</a>
								</div>
							</div>
							<!--wrapper-->
							<div class="vuelist" id="taglist">
								<h1>
									个人标签列表
								</h1>
								<template v-if="tags.length">
									<ul>
										<li stagger="5000" v-for="item in tags">

											<span class="label">
												{{item.label}}
											</span>
											<div class="actions">
												<button class="btn-picto" type="button" v-on:click="changeReadNow(item)">
													<img src="images/eye.png">
												</button>
												<button aria-label="Delete" class="btn-picto" title="Delete" type="button" v-on:click="deleteItemFromList(item)">
													<i aria-hidden="true" class="material-icons">
														delete
													</i>
												</button>
											</div>
										</li>
									</ul>
								</template>
								<p class="emptylist" v-else="">
									你的个人标签列表是空的。
								</p>
								<form name="newform" v-on:submit.prevent="addItem">
									<label for="newtag">
										添加到个人标签列表
									</label>
									<input id="newtag" name="newtag" type="text" v-model="newtag">
									<button type="submit" class="material-icons">
										add
									</button>
								</input>
							</form>
							
							<script type="text/javascript" src="js/taglist.js"></script>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" >
						
						<div class="vuelist" id="waitlist">
							<h1>
								待看文章
							</h1>
							<div>
								正在阅读的文章：{{ nowread_id }}
							</div>
							<template v-if="todo.length">
								<ul>
									<li stagger="5000" v-bind:class="item.done ? 'done' : ''" v-for="item in todoByStatus">
										<span class="date">
											{{item.date}} 
										</span>
										<span class="label">
											{{item.label}}
										</span>
										<div class="actions">
											<button class="btn-picto" type="button" v-on:click="changeReadNow(item)">
												<img src="images/eye.png">
											</button>
											<button class="btn-picto" type="button" v-bind:aria-label="item.done ? 'Undone' : 'Done'" v-bind:title="item.done ? 'Undone' : 'Done'" v-on:click="markAsDoneOrUndone(item)">
												<i aria-hidden="true" class="material-icons">
													{{ item.done ? 'check_box' : 'check_box_outline_blank' }}
												</i>
											</button>
											<button aria-label="Delete" class="btn-picto" title="Delete" type="button" v-on:click="deleteItemFromList(item)">
												<i aria-hidden="true" class="material-icons">
													delete
												</i>
											</button>
										</div>
									</li>
								</ul>
								<togglebutton label="移动已看文章" name="movedone" v-on:clicked="movedonetoogle">
								</togglebutton>
							</template>
							<p class="emptylist" v-else="">
								你的待看文章列表是空的。
							</p>
						</div>
						<script type="text/javascript" src="js/waitlist.js"></script>
						
					</div>
				</div>
				<div class="row">
		
						<div class="col-md-12" >
							<div id="vitality" style="width:100%;height:300px;"></div>
							<script type="text/javascript" src="js/vitalitychart.js"></script>
						</div>
				</div>
			</div>
		</body>

		<script type="text/javascript">
			var showornot = false;
			$("#sidebutton").click(function(){
				if(showornot == false){
					$("#siderbar").removeClass('sidemovein');
					$("#siderbar").addClass('sidemoveout');
					showornot = true;
				}else{
					$("#siderbar").removeClass('sidemoveout');
					$("#siderbar").addClass('sidemovein');
					showornot = false;
				}
			});

			var news_first_img = $("#news_content").find("img").attr("src");
			if(news_first_img != null){
				$('#news_headimg').css('background-image',"url('"+news_first_img+"')");
			}

			window.onscroll = function(){
			 setInterval(scroll,30); 
			}
			function scroll(){
			 var oFd = document.getElementById('newslist');
			 var top = oFd.style.top;
			 var scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
			 if(scrollTop > 134){
			  oFd.style.position = 'fixed';
			  oFd.style.top = '0';
			 }else{
			  oFd.style.position = 'absolute';
			  oFd.style.top = '50%';
			 }
			}

                //右下角弹出侧边栏固定块
        // layui.use('util', function(){
        //   var util = layui.util;

        //   //执行
        //     util.fixbar({
        //     bar1: true
        //     ,css: {right: 50%, bottom: 10%,z-index: 1000}
        //     ,bgcolor: '#000'
        //     ,click: function(type){
        //       if(type === 'bar1'){
        //         if(showornot == false){
        //             $("#siderbar").removeClass('sidemovein');
        //             $("#siderbar").addClass('sidemoveout');
        //             showornot = true;
        //         }else{
        //             $("#siderbar").removeClass('sidemoveout');
        //         $("#siderbar").addClass('sidemovein');
        //             showornot = false;
        //         }
        //       } 
        //     }
        //   });
        // });
    </script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="js/homepage.js"></script>
    <script src="js/news.js"></script>
    <script src="js/changeFont.js"></script>

    </html>